Exercise 1: Prime Numbers

Write a Python program that checks whether a given number is prime or not. A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.

In [ ]:
# finding prime numbers between 2 and 100

num = int(input('Please enter an integer-->')) # asking user for input
flag = False

if num in (0,1):
  print(num, 'is not a prime number') # 0,1 are not prime numbers
elif num > 1:
  for i in range(2, num):
    # checking for factors
    if num % i == 0:
      flag = True
      break
if flag == True:
  print(num, 'is not a prime number')
else:
  print(num, 'is a prime number')

Please enter an integer-->34
34 is not a prime number

In [ ]:
import numpy as np
import pandas as pd

Exercise 2: Product of Random Numbers

Develop a Python program that generates two random numbers and asks the user to enter the product of these numbers. The program should then check if the user's answer is correct and display an appropriate message.

In [ ]:
num_1 = np.random.randint(1,10,1) # generating random integers between 1 and 10
num_2 = np.random.randint(1,10,1)

print(num_1) # printing the random integers
print(num_2)

user_input = input(f'Please enter the product of the given numbers {num_1} {num_2}') # asking for user's response
user_input

answer = num_1 * num_2

while not user_input.isdigit() == True:                             # checking for valid response using while loop
  print('This is not a valid entry. Please ensure you are entering an integer. Kindly, try again')
  user_input = input(f'Please enter the product of the given numbers {num_1} {num_2}')
user_input  = int(user_input)

if user_input == answer:
  print(f'You have entered {user_input}. Your answer is correct!')
else:
  print(f'You have entered {user_input}. Your answer is incorrect. The correct answer would be {answer}')

[5]
[7]
Please enter the product of the given numbers [5] [7]35
You have entered 35. Your answer is correct!

Exercise 3: Squares of Even/Odd Numbers

Create a Python script that prints the squares of all even or odd numbers within the range of 100 to 200. Choose either even or odd numbers and document your choice in the code.

In [ ]:
even_squares = []
odd_squares = []


for i in range(100,201):
  if i % 2 == 0:
    even_squares.append(i*i)
  else:
    odd_squares.append(i*i)

print('The squares of all even numbers between 100 and 200:', even_squares)
print('The squares of all odd numbers between 100 and 200:', odd_squares)

The squares of all even numbers between 100 and 200: [10000, 10404, 10816, 11236, 11664, 12100, 12544, 12996, 13456, 13924, 14400, 14884, 15376, 15876, 16384, 16900, 17424, 17956, 18496, 19044, 19600, 20164, 20736, 21316, 21904, 22500, 23104, 23716, 24336, 24964, 25600, 26244, 26896, 27556, 28224, 28900, 29584, 30276, 30976, 31684, 32400, 33124, 33856, 34596, 35344, 36100, 36864, 37636, 38416, 39204, 40000]
The squares of all odd numbers between 100 and 200: [10201, 10609, 11025, 11449, 11881, 12321, 12769, 13225, 13689, 14161, 14641, 15129, 15625, 16129, 16641, 17161, 17689, 18225, 18769, 19321, 19881, 20449, 21025, 21609, 22201, 22801, 23409, 24025, 24649, 25281, 25921, 26569, 27225, 27889, 28561, 29241, 29929, 30625, 31329, 32041, 32761, 33489, 34225, 34969, 35721, 36481, 37249, 38025, 38809, 39601]

Exercise 4: Word counter

write a program to count the number of words in a given text.

In [ ]:
text = "Python programming is beginner friendly. It is very intutive and relatively easy to understand."
list_1 = list(text.split(sep = ' '))
print(list_1)

pd.value_counts(list_1)

['Python', 'programming', 'is', 'beginner', 'friendly.', 'It', 'is', 'very', 'intutive', 'and', 'relatively', 'easy', 'to', 'understand.']

<ipython-input-18-f2366b1f4c1a>:5: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(list_1)
<ipython-input-18-f2366b1f4c1a>:5: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  pd.value_counts(list_1)

is             2
Python         1
programming    1
beginner       1
friendly.      1
It             1
very           1
intutive       1
and            1
relatively     1
easy           1
to             1
understand.    1
Name: count, dtype: int64

Exercise 5: Check for Palindrome

Write a Python function called is_palindrome that takes a string as input and returns True if the string is a palindrome, and False otherwise. A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization.

In [3]:
def is_palindrome(x):
  """
This function determines if a particular string is a palindrome or not
  """
  # blank variable 'reverse'
  reverse = ''

  # introducing a "for" loop to iterate over the characters of the string
  for char in x:
    # reassigning the variable 'reverse' as follows:
    reverse = char + reverse

  if x == reverse:
    print(True)
  else:
    print(False)

In [6]:
is_palindrome('racecar')

True

In [9]:
word = 'Python'

is_palindrome(word)

False